
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --panel: 210 40% 98%;
  --panel-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --accent: 346.8 77.2% 49.8%;
  --accent-foreground: 355.7 100% 97.3%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --panel: 217.2 32.6% 17.5%;
    --panel-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --accent: 346.8 77.2% 49.8%;
    --accent-foreground: 355.7 100% 97.3%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}
